v-cloak {
  display: none;
}
body{
	font-family: 'Work Sans', sans-serif;
}
h1 {
  text-align: center;
  font-size: 2em;
}
#app{
	padding:0px;	
}
td img {
  	width: 45px;
	max-width: 100%;
    	height: auto;
}
.table{
	margin-bottom: 0px;
	text-align: center;
}
.table>tbody>tr>td{
	vertical-align: middle;
}
.table>tbody>tr:first-child, .table>tbody>tr:nth-child(2)  { 
    background-color: green;
    color: white;
}
